h1{
  text-transform: uppercase;
  font-family: 'Bangers';
  text-align: center;
  color: rgb(255, 255, 255);
}

.container{
  /* background-image: url("src/assets/img/svg.png"); */
  padding: 3%;
}

#card{
  padding: 2%;

}

#horizontal .row{
  opacity: 1;
}

#horizontal{
  opacity: 0.1;
}

input{
  margin-top: 1%;
  font-family: 'Bangers';

}

h6{
  font-family: 'Bangers';
}
html{
  background-image: url("src/assets/img/svg.png");
}

a{
  margin-top: 1%;
}

.button{
  text-align: center;
}

h4{
  font-family: 'Bangers';

}

/* loading */

.laoading{
  width: 100px;
  height: 100px;
  border: 5px solid #ccc;
  border-top: 5px solid #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;

}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% { transform: rotate(360deg);}

}


